# Big Data Analytics

## add names here:




### The aim of this project is to use the IMDB Dataset: (Link) and use data such as actors, director, genre, isAdult and runtime to predict how well a movie will perform. We use the boxoffice and userrating as measures of performance. We will train our model with 80% of the data and test it on the remaining 20%. We will also give our predicitons for upcoming movies that do not have any ratings/boxoffice yet.

### Our hypothesis is that actors & director will positively influence the performance while the variable runtime will negatively influence it.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from sklearn.linear_model import Ridge,LinearRegression,Lasso
from sklearn.neural_network import MLPRegressor
from sklearn.decomposition import PCA
from sklearn.preprocessing import PolynomialFeatures
%matplotlib inline

# Load Data and Preprocessing

## title basics

In [2]:
df = pd.read_csv("data/title.basics.tsv",sep="\t")
# Select all non tv Series
df = df[(df['endYear']=='\\N')]
df.drop(["endYear"],axis=1,inplace=True)
df = df[(df['titleType']=="movie")]
# replace all \N with NAN and subsequently drop them
df.replace("\\N",np.nan,inplace=True)
df.dropna(inplace=True)
# Convert data types to int where feasible
df['startYear'] = df['startYear'].astype(int)
df['isAdult'] = df['isAdult'].astype(int)
df['runtimeMinutes'] = df['runtimeMinutes'].astype(int)

df = df[(df['startYear']>=2000) & (df['startYear']<=2020)]

df.reset_index(inplace=True,drop=True)
df.to_csv("data/title.basics_preprocessed.csv",index=False)
df

/home/flo/anaconda3/envs/datascience/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019,67,Drama
1,tt0016906,movie,Frivolinas,Frivolinas,0,2014,80,"Comedy,Musical"
2,tt0019996,movie,Hongxia,Hongxia,0,2011,94,Action
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance"
4,tt0036177,movie,Muhomatsu no issho,Muhomatsu no issho,0,2008,100,"Action,Adventure"
...,...,...,...,...,...,...,...,...
189856,tt9916362,movie,Coven,Akelarre,0,2020,92,"Adventure,Drama,History"
189857,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,123,Drama
189858,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,57,Documentary
189859,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,100,Documentary
189860,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,49,Documentary

## title crew

In [4]:
import os
print(os.getcwd())
print(os.listdir('./data'))
df = pd.read_csv('./data/title.crew.tsv', sep= '\t', header=0)
df.drop(['writers'], axis=1, inplace=True)
print(df['directors'].isnull().values.any())
df.to_csv("data/title.crew_preprocessed.csv",index=False)
df

/home/flo/Documents/FS2021/Big Data Analytics/gitRepo/BigDataAnalytics
['boxOffice_preprocessed.csv', 'title.crew_preprocessed.csv', 'README.md', 'title.crew.tsv', 'title.basics.tsv', 'tconsts.csv', 'name.basics.tsv', 'title.akas.tsv', 'title.principals.tsv', 'title.basics_preprocessed.csv', 'archive', 'boxOffice.csv', 'title.ratings.tsv', 'title.ratings.csv']
False

            tconst            directors
0        tt0000001            nm0005690
1        tt0000002            nm0721526
2        tt0000003            nm0721526
3        tt0000004            nm0721526
4        tt0000005            nm0005690
...            ...                  ...
7869181  tt9916848  nm5519454,nm5519375
7869182  tt9916850  nm5519375,nm5519454
7869183  tt9916852  nm5519454,nm5519375
7869184  tt9916856           nm10538645
7869185  tt9916880            nm0996406

[7869186 rows x 2 columns]

# title.akas

In [7]:
df = pd.read_csv("data/title.akas.tsv","\t",usecols=['titleId','language','isOriginalTitle'])
df

/home/flo/anaconda3/envs/datascience/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

            titleId language isOriginalTitle
0         tt0000001       \N               0
1         tt0000001       \N               0
2         tt0000001       \N               0
3         tt0000001       \N               0
4         tt0000001       \N               0
...             ...      ...             ...
26152127  tt9916852       ja               0
26152128  tt9916852       pt               0
26152129  tt9916852       it               0
26152130  tt9916852       hi               0
26152131  tt9916856       \N               0

[26152132 rows x 3 columns]

In [8]:
df = df[df["isOriginalTitle"]==1]
np.unique(df["language"])

array(['\\N', 'ca', 'da', 'en', 'ja'], dtype=object)

## name basics

In [5]:
df = pd.read_csv("data/name.basics.tsv",sep="\t")
# Drop unnecessary columns
df.drop(["birthYear", "deathYear","primaryProfession","knownForTitles"],axis=1,inplace=True)
# replace all \N with NAN and subsequently drop them
df.replace("\\N",np.nan,inplace=True)
df.dropna(inplace=True)

df.reset_index(inplace=True,drop=True)
df.to_csv("data/name.basics_preprocessed.csv",index=False)
df

             nconst         primaryName
0         nm0000001        Fred Astaire
1         nm0000002       Lauren Bacall
2         nm0000003     Brigitte Bardot
3         nm0000004        John Belushi
4         nm0000005      Ingmar Bergman
...             ...                 ...
10900082  nm9993714   Romeo del Rosario
10900083  nm9993716       Essias Loberg
10900084  nm9993717  Harikrishnan Rajan
10900085  nm9993718         Aayush Nair
10900086  nm9993719          Andre Hill

[10900087 rows x 2 columns]

## title principals

In [6]:
df = pd.read_csv("data/title.principals.tsv",sep="\t")
# Drop unnecessary columns
df.drop(["ordering", "category","job","characters"],axis=1,inplace=True)
# replace all \N with NAN and subsequently drop them
df.replace("\\N",np.nan,inplace=True)
df.dropna(inplace=True)

df.reset_index(inplace=True,drop=True)
df.to_csv("data/title.principals_preprocessed.csv",index=False)
df

             tconst     nconst
0         tt0000001  nm1588970
1         tt0000001  nm0005690
2         tt0000001  nm0374658
3         tt0000002  nm0721526
4         tt0000002  nm1335271
...             ...        ...
44505357  tt9916880  nm0996406
44505358  tt9916880  nm1482639
44505359  tt9916880  nm2586970
44505360  tt9916880  nm1594058
44505361  tt9916880  nm1052583

[44505362 rows x 2 columns]

## title ratings

In [25]:
df = pd.read_csv("data/title.ratings.tsv", sep ="\t")
# Drop unnecessary columns
df.drop(["numVotes"], axis = 1, inplace = True)
df.dropna(inplace = True)

df.reset_index(inplace=True, drop=True)
df.to_csv("data/title.ratings_preprocessed.csv", index=False)
df

            tconst  averageRating
0        tt0000001            5.7
1        tt0000002            6.1
2        tt0000003            6.5
3        tt0000004            6.1
4        tt0000005            6.1
...            ...            ...
1148469  tt9916682            5.6
1148470  tt9916690            6.6
1148471  tt9916720            6.5
1148472  tt9916766            6.9
1148473  tt9916778            7.5

[1148474 rows x 2 columns]

## Box Office Data

In [9]:
df = pd.read_csv("data/boxOffice.csv")
df.dropna(how="all",subset=["domestic","international","worldwide"],inplace=True)
df.reset_index(inplace=True,drop=True)
df.to_csv("data/boxOffice_preprocessed.csv",index=False)
df

# Joining Data

In [57]:
def join_another(df1,df2, on_col):
    df1['tconst'] = df1['tconst'].astype(str)
    df2['tconst'] = df2['tconst'].astype(str)
    return pd.merge(df1,df2,on=on_col,how="inner")


df = pd.read_csv("data/boxOffice_preprocessed.csv")

fileNames = [
    'title.basics_preprocessed.csv',
    'title.crew_preprocessed.csv',
    "title.principals_preprocessed.csv",
    "title.ratings_preprocessed.csv"
    ]
for fileName in fileNames:
    df_to_join = pd.read_csv("data/"+fileName)
    df = join_another(df,df_to_join,'tconst')

df_to_join = pd.read_csv("data/name.basics_preprocessed.csv")
df = pd.merge(df,df_to_join,how='inner',on="nconst")
df_to_join.rename(columns={"nconst":'directors'})
df = pd.merge(df,df_to_join,how='inner',on=["directors"])
df = df.rename(columns={"primaryName_x":"actor_name","primaryName_y":"director_name"})
df.to_csv("data/allData.csv",index=False)
df

,tconst,domestic,international,worldwide,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,directors,nconst,averageRating
0,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",nm0003506,nm0107463,6.4
1,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",nm0003506,nm0000212,6.4
2,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",nm0003506,nm0413168,6.4
3,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",nm0003506,nm0000630,6.4
4,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,118,"Comedy,Fantasy,Romance",nm0003506,nm0005227,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335759,tt9905412,NaN,4791.0,4791.0,movie,Ottam,Ottam,0,2019,120,Drama,nm10533890,nm10533890,7.3
335760,tt9905412,NaN,4791.0,4791.0,movie,Ottam,Ottam,0,2019,120,Drama,nm10533890,nm10533895,7.3
335761,tt9905412,NaN,4791.0,4791.0,movie,Ottam,Ottam,0,2019,120,Drama,nm10533890,nm6546398,7.3
335762,tt9905412,NaN,4791.0,4791.0,movie,Ottam,Ottam,0,2019,120,Drama,nm10533890,nm6412514,7.3
335763,tt9905412,NaN,4791.0,4791.0,movie,Ottam,Ottam,0,2019,120,Drama,nm10533890,nm3175230,7.3

# Preprocessing whole data set

## One hot encode genres

In [20]:
df = pd.read_csv("data/allData.csv")
genres = np.unique(df['genres'])
genreset = set()
for genre in genres:
    for g in genre.split(","):
        genreset.add(g)

print(genreset)
print(len(genreset))
for i in genreset:
    df[i] = 0

{'Animation', 'Action', 'Sci-Fi', 'Fantasy', 'Horror', 'Mystery', 'Adventure', 'Crime', 'Adult', 'Family', 'Western', 'Romance', 'Comedy', 'Music', 'History', 'News', 'Sport', 'Biography', 'Thriller', 'Drama', 'War', 'Musical', 'Documentary'}
23

In [96]:
df[df['startYear']>=2017].shape

(72183, 39)

In [3]:
df

,Unnamed: 0,tconst,domestic,international,worldwide,titleType,primaryTitle,originalTitle,isAdult,startYear,...,Music,History,News,Sport,Biography,Thriller,Drama,War,Musical,Documentary
0,0,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,...,0,0,0,0,0,0,0,0,0,0
1,1,tt0309698,52159536.0,38100000.0,90259536.0,movie,Identity,Identity,0,2003,...,0,0,0,0,0,0,0,0,0,0
2,2,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,...,0,0,0,0,0,0,0,0,0,0
3,3,tt0035423,47121859.0,28897189.0,76019048.0,movie,Kate & Leopold,Kate & Leopold,0,2001,...,0,0,0,0,0,0,0,0,0,0
4,4,tt1430132,132556852.0,282271394.0,414828246.0,movie,The Wolverine,The Wolverine,0,2013,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305036,305036,tt9859758,NaN,40271.0,40271.0,movie,Ali & Alia,Ali and Alia,0,2019,...,0,0,0,0,0,0,0,0,0,0
305037,305037,tt9859758,NaN,40271.0,40271.0,movie,Ali & Alia,Ali and Alia,0,2019,...,0,0,0,0,0,0,0,0,0,0
305038,305038,tt9859758,NaN,40271.0,40271.0,movie,Ali & Alia,Ali and Alia,0,2019,...,0,0,0,0,0,0,0,0,0,0
305039,305039,tt9859758,NaN,40271.0,40271.0,movie,Ali & Alia,Ali and Alia,0,2019,...,0,0,0,0,0,0,0,0,0,0
305040,305040,tt9859758,NaN,40271.0,40271.0,movie,Ali & Alia,Ali and Alia,0,2019,...,0,0,0,0,0,0,0,0,0,0

In [21]:
unique_tconst= df['tconst'].unique()
best_actors = pd.read_csv("./data/top_actors.csv")
best_directors = pd.read_csv('./data/nominated_directors.csv')

In [22]:
df['has_good_actor'] = 0
df['has_good_director'] = 0
best_actors = best_actors['top_actors'].to_list()
best_directors = best_directors['nominated_directors'].to_list()

In [23]:
df.drop('Unnamed: 0', axis=1,inplace=True)

In [24]:
print(len(unique_tconst))

31799

In [32]:
for const in range(len(unique_tconst)):
    print(const)
    df2 = df[df['tconst'] == unique_tconst[const]]
    found_actor=0
    found_director=0
    for i in df2.index:
        if found_actor and found_director:
            break
        if not found_actor and df2.at[i,'actor_name'] in best_actors:
            found_actor=1
        if not found_director and df2.at[i,'director_name'] in best_directors:
            found_director=1
    df.loc[df2.index,-2] = found_actor
    df.loc[df2.index,-1]=found_director

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057

KeyboardInterrupt:

In [33]:
df.iloc[df2.index,-2]
df["has_good_actor"]

0         1
1         0
2         1
3         1
4         1
         ..
305036    0
305037    0
305038    0
305039    0
305040    0
Name: has_good_actor, Length: 305041, dtype: int64

In [ ]:
#drop actors, directors
df.drop_duplicates(subset='tconst', inplace=True,ignore_index=True)
# drop duplicate rows

In [101]:
for i in df.columns:
    print(f"{i}: {np.sum(df[i].isnull())}")
df.iloc[0]

tconst: 0
domestic: 204539
international: 27259
worldwide: 0
titleType: 0
primaryTitle: 0
originalTitle: 0
isAdult: 0
startYear: 0
runtimeMinutes: 0
genres: 0
directors: 0
nconst: 0
averageRating: 0
actor_name: 0
director_name: 0
Action: 0
Fantasy: 0
Comedy: 0
History: 0
Animation: 0
Sport: 0
Biography: 0
Documentary: 0
Crime: 0
Western: 0
Adult: 0
Romance: 0
Musical: 0
War: 0
Mystery: 0
Drama: 0
Family: 0
Sci-Fi: 0
Music: 0
Horror: 0
Thriller: 0
News: 0
Adventure: 0

tconst                         tt0035423
domestic                      47121859.0
international                 28897189.0
worldwide                     76019048.0
titleType                          movie
primaryTitle              Kate & Leopold
originalTitle             Kate & Leopold
isAdult                                0
startYear                           2001
runtimeMinutes                       118
genres            Comedy,Fantasy,Romance
directors                      nm0003506
nconst                         nm0107463
averageRating                        6.4
actor_name                 David Brenner
director_name              James Mangold
Action                                 0
Fantasy                                1
Comedy                                 1
History                                0
Animation                              0
Sport                                  0
Biography                              0
Documentary                            0
Crime                                  0
Western                                0
Adult                                  0
Romance                                1
Musical                                0
War                                    0
Mystery                                0
Drama                                  0
Family                                 0
Sci-Fi                                 0
Music                                  0
Horror                                 0
Thriller                               0
News                                   0
Adventure                              0
Name: 0, dtype: object

In [16]:
x = df[df['primaryTitle']=="Kate & Leopold"]
np.unique(x['actor_name'])

array(['Breckin Meyer', 'Cathy Konrad', 'David Brenner', 'Hugh Jackman',
       'James Mangold', 'Liev Schreiber', 'Meg Ryan', 'Rolfe Kent',
       'Steven Rogers', 'Stuart Dryburgh'], dtype=object)

# Data Preprocessing

## Steps performed

### dropping columns, imputing missing values, categorical datapoints

# Kfold to decrease potential overfitting

In [ ]:
from sklearn.model_selection import KFold

def kfold_validation(X,y,model):
    start = time.time()
    kf = KFold(n_splits=5,shuffle=True, random_state=69420) 
    mses = []
    models = []
    count = 0
    for trainIndices,testIndices in kf.split(X):
        print(f"iteration: {count}")
        Xtrain,Xval = X[trainIndices,:],X[testIndices,:]
        ytrain,yval = y[trainIndices],y[testIndices]
        model.fit(Xtrain,ytrain)
        yhat = model.predict(Xval)
        mse = np.sum(np.square(yval-yhat))/yval.size # mean squared error
        mses.append(mse)
        models.append(model)
        count+=1
    print(f"time used (seconds): {time.time()-start}")
    return mses, models

# Standardise to make data more comparable

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Xtrain,Xtest, ytrain,ytest = train_test_split(X,y,shuffle=True,train_size=0.8)

def standardise_data(X):
    mean = np.mean(X)
    std = np.std(X)
    X_std = (X-mean)/std
    return X_std, mean, std

#kf = KFold(n_splits=1,shuffle=True, random_state=69420) 

Xtrain_std, X_train_mean, X_train_std_div = standardise_data(Xtrain)
Xtest_std = (Xtest-X_train_mean)/X_train_std_div

# Linear Regression

In [ ]:
model = LinearRegression()
mses,models = kfold_validation(Xtrain,ytrain,model)
yhat=models[np.argmin(mses)].predict(Xtest)
np.mean(np.square(yhat-ytest))

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor 

model = RandomForestRegressor()
mses,models = kfold_validation(Xtrain,ytrain,model)
yhat=models[np.argmin(mses)].predict(Xtest)
np.mean(np.square(yhat-ytest))

# Data Visualisation